body{
  background-image: url("/img/background.jpg") ;
  background-size: cover;
  
  
}
.profile_name{
  background-color: white;
  border: 10px;
  border-style: double;
  border-color: black;
  padding-left: 50px;
  padding-right: 50px;

}