body{
/*   background-image: url("/img/background_profile_web.png") ; */
  background-size: cover;
  
  
}
.profile_name{
  background-color: rgb(90, 123, 194);
  border: 10px;
  border-style: double;
  border-color: black;
  padding-left: 50px;
  padding-right: 50px;

}
